@import '../../index.scss';
@import '../../tools/functions.scss';

.static-page {
  background: white;
  .dark & {
    background: unset;
  }

  header {
    padding: 40px 30px 80px 30px;
    min-height: 290px;
    box-sizing: border-box;
    color: #fff;
    position: relative;

    section:nth-child(1) {
      display: flex;
      flex-direction: column;
      
      h1 {
        @extend .background-text-linear;
        
        margin-bottom: 3.5rem;
        font-size: 6vw;
        font-weight: 700 !important;
        margin-top: 0;
        letter-spacing: -.05rem;
        
        @media screen and (min-width: 1200px) {
          font-size: 5rem;
        }
      }

      @include threshold_bar {
        justify-content: center;
        
        h1 {
          margin-top: 1rem;
          text-align: center;
          font-size: 50px;
        }
      }
    } 

    section:nth-child(2) {
      @extend .background-text-linear;

      font-size: 1.65rem;
      opacity: .95;
      
      @include threshold_bar {
        text-align: justify;
      }
    }

    .button-login {
      padding: .7rem 2rem;
      text-transform: uppercase;
      font-weight: 700;
      background-color: rgb(255, 255, 255);
      font-size: 1.1rem;
      box-shadow: 0 10px 20px rgba(0,0,0,.2);
      border-radius: 3px;

      position: absolute;
      bottom: -1.3rem;
      right: 10%;

      letter-spacing: .05rem;
      
      width: fit-content;
      width: -moz-fit-content;
      
      @include threshold_bar {
        left: 50%;
        transform: translate(-50%,0%);
        right: 0;
      }

      .dark & {
        background-color: #31333c;

        &:active {
          color: rgb(220, 220, 255);
        }
      }

      &:active {
        color: blue;
      }
    }
  }

  main {
    color: #373a3c;

    .dark & {
      color: #fff;
    }

    p {
      line-height: 30px;
      opacity: .85;
    }

    & > section:nth-child(1) {
      @extend .dark-background-image-linear;

      box-sizing: border-box;
      padding: 2rem 0;

      margin-bottom: 2.5rem;

      @include threshold_bar {
        margin-bottom: 1.5rem;
      }

      h2 {
        font-weight: 600;
        font-size: 1.7rem;
        text-align: center;
        color: white;
      }
      p {
        text-align: center;
        width: 50%;
        margin: auto;
        margin-bottom: 1.5rem;
        opacity: 1;
        font-size: 1.1rem;
        color: white;

        @include threshold_bar {
          width: 100%;
        }

        & .dl-btn {
          color: #c6e5ff;
        }
      }
    }

    section.feature {
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      padding: 2rem 2rem;
      box-sizing: border-box;

      h3 {
        @extend .tweet-font;

        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: -.025rem;
        font-weight: 600;
        margin-top: .3rem;
      }

      div {
        max-width: 45%;

        p {
          font-size: 1.05rem;
        }
      }

      img {
        width: 45%;
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        object-fit: cover;
      }

      &:nth-child(odd) {
        flex-direction: row-reverse;
      }

      @include threshold_bar {
        flex-direction: column !important;

        div {
          width: 100%;
          max-width: 100%;
        }
  
        img {
          width: 100%;
          max-width: 100%;
          border-radius: 8px;
        }
      }
    }

    section.other-feature {
      width: 100%;

      h2 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-left: 2rem;
        margin-bottom: 1rem;
      }

      .container {
        width: 100%;

        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto;
        gap: 10px;
  
        padding: 0 2rem;
        padding-top: 1rem;
        margin-bottom: 2rem;
        box-sizing: border-box;

        & > div {
          height: 100%;
          background-color: #ececec;

          .dark & {
            background-color: #3b3a48;
          }

          padding: 18px;
          box-sizing: border-box;
        }
  
        h5 {
          font-size: 1.2rem;
          margin-top: .3rem;
          margin-bottom: .5rem;
        }
  
        p {
          font-size: .95rem;
          margin: 0;
        }
  
        @include threshold_bar {
          grid-template-columns: auto;
        }
      }
    }
  }

  footer {
    padding-top: 1.5rem;
    background: #f5f8fa;

    .dark & {
      background: #272727;
    }

    .divider-big-margin {
      margin-top: 3rem !important;
      margin-bottom: 0 !important;
    }
  }
}
