.root {
  margin-bottom: 64px !important;
  margin-top: 1rem !important;
}

.inputInput {
  width: 100%;
}

.favorite {
  margin-top: 8px;
}

.tabs {
  background-color: unset !important;
  background: linear-gradient(#036fc8, #005da9);

  :global .dark :local & {
    background: linear-gradient(#7dbcef, #073f6d);
    color: #fff !important;
  }
}

.number {
  font-weight: bold !important;
  font-size: 1.15rem !important;
}

.main_title {
  margin-bottom: 1.2rem !important;
  font-weight: bold !important;
}

.second_title {
  margin-bottom: .7rem !important;
}

.delete_btn {
  margin-top: 1rem !important;
}

.dl_btn {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.t_wrapper {
  max-height: 344px;
  overflow: auto;
}

.th {
  z-index: unset !important;
}

.sn_root {
  width: 100%;
  margin-top: .5rem;
  overflow-x: auto;
}

.table {
  min-width: 300px;
}

.table_large {
  min-width: 450px;
}

.light_btn {
  margin-top: .7rem;
  margin-bottom: .5rem;
}
