.root {
  margin-bottom: 64px !important;
  margin-top: 1rem !important;
}

.number {
  font-weight: bold !important;
  font-size: 1.15rem !important;
}

.main_title {
  margin-bottom: 1.2rem !important;
  font-weight: bold !important;
}

.second_title {
  margin-bottom: .7rem !important;
}

.delete_btn {
  margin-top: 1rem !important;
}