.icon {
  color: lighten($color: #000000, $amount: 70);
  font-size: 7rem !important; 
}

.text_lighten {
  color: lighten($color: #000000, $amount: 30);

  :global .dark :local & {
    color: lighten($color: #000000, $amount: 75);
  }
}
