.card {
  margin-bottom: 1rem;
}

.avatar {
  background-color: white;
}

.retweeted {
  color: #00bd00;
}

.favorited {
  color: #fab41e;
}

.card_action {
  display: grid !important;
  grid-template-columns: min-content auto auto;
}

.date {
  font-weight: 200;
  font-size: 12px;
  margin-right: .7rem;
  justify-self: end;
}

.link {
  color: inherit;
  text-decoration: none;

  :global .dark :local & {
    color: white !important;

    &:hover {
      color: rgb(172, 172, 255);
      text-decoration: underline;
    }
  }

  &:hover {
    color: rgb(73, 73, 255);
    text-decoration: underline;
  }
}

.rt_container {
  display: flex;
  justify-content: flex-start;
}

.rt_number, .fav_number {
  display: flex;
  align-items: flex-start;
  font-size: .9rem;
  color: lighten($color: #000000, $amount: 20) !important;

  :global .dark :local & {
    color: lighten($color: #000000, $amount: 80) !important;
  }
}

.rt_number {
  margin-right: 1rem;
  margin-left: .3rem;
}

.rt_icon, .fav_icon {
  font-size: 1.1rem !important;
  margin-left: .3rem;
  margin-bottom: 1px;
}

.card_title {
  font-weight: bold;
}
