@import "../../../tools/functions.scss";

.catch_phrase {
  font-size: 1rem !important;
  text-align: center;
  margin-top: .7rem !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.legal_text {
  font-size: .7rem !important;
  margin-top: 2rem !important;
}

.twitter_link {
  background: #d4d4d44d;
  padding: 10px;
  display: block;
  border: 1px #a49fb54d solid;
  border-radius: 8px;
  transition: .6s;

  &:hover {
    background: #a2a8ff4d;
  }
}

.twitter_img {
  display: block;
}

.underline {
  text-decoration: underline !important;
}

.github_header {
  font-weight: bold;
}

.github_links {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

  @include min_mobile {
    grid-template-columns: auto;
  }
}

.github_container {
  display: flex;
  align-items: center;
}

.github_img {
  display: block;
  height: 30px;
}

.github_text {
  font-weight: bold;
  margin-left: 7px;
}
