@import "../../../tools/functions.scss";

.card_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
  // Pour le speeddial
  padding-bottom: 12px; 

  // TODO CHECK IF OK
  max-width: 1200px;
  margin: auto;
  // ENDOF TODO

  @include mobile_large {
    display: block;
  }
}

.card_container_year {
  @extend .card_container;
  margin: 0;
}

.year_header {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  margin-left: 1vw !important;
  font-style: italic !important;
  margin-top: .5rem !important;
  margin-bottom: 1rem !important;
}

.toggleContainer {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 10px 25px;

  @include min_w_1000 {
    grid-template-columns: auto auto;
  }

  @include threshold_bar {
    grid-template-columns: auto;
  }
}

.inlineToggleButton {
  background-color: unset !important;
  justify-content: center;
}

.no_tweets {
  color: lighten($color: #000000, $amount: 30);

  :global .dark :local & {
    color: lighten($color: #000000, $amount: 75);
  }
  margin-top: 2rem;
}

.icon {
  color: lighten($color: #000000, $amount: 70);
  font-size: 7rem !important; 
}

.loader {
  flex: 0 100%;
  width: 100%;
  grid-column: 1 / 3;
}

.loader_real {
  width: 56px;
  height: 56px;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.archive_link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.warning_filters {
  margin: 1rem 0 2rem 1.5rem;
  font-style: italic;
  font-weight: bold;
}

.modal_root {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: .4s ease-in-out;
  padding: 12px 24px;
  box-sizing: border-box;
  z-index: 9;
  width: 80vw;
  border-radius: 10px;
  background: #ffffff;
  :global .dark :local & {
    background: #313131;
  }

  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);

  &.open {
    transform: translate(-50%, calc(0% - 64px));
  }
}

.modal_grid_root {
  display: grid;
  grid-template-columns: auto max-content max-content;
  grid-gap: 15px;
  align-items: center;

  @include min_mobile {
    justify-content: center;

    &:lang(fr) {
      grid-template-columns: max-content;
    }
  }
}

.modal_unselect_all_color {
  color: #169e16 !important;
}

.modal_grid_container {
  text-align: center;
}

.modal_selected {
  text-align: left;

  @include threshold_bar {
    text-align: center;
  }
}

.menu_tiny_icon {
  min-width: 42px !important;
}
