$drawer_width:240px;

.root {
  display: flex;
}
.appBar {
  width: calc(100% - 240px);
  margin-left: $drawer_width;
}
.drawer {
  width: $drawer_width;
  flex-shrink: 0;
}
.drawerPaper {
  width: $drawer_width;
}
.content {
  margin-top: 64px;
  margin-left: $drawer_width;
  flex-grow: 1;
  padding: 10px;
  margin-bottom: 56px;
}
.list_month {
  width: 100%;
  margin-bottom: .5rem !important;
}
.drawer_month {
  padding-left: 14px;
  box-sizing: border-box;
  font-size: .95rem;
}
.selected_month {
  background-color: #1f1f92d4 !important;
  color: white !important;
}

.no_tweets {
  color: lighten($color: #000000, $amount: 30);
  margin-top: 2rem;
}
.icon {
  color: lighten($color: #000000, $amount: 70);
  font-size: 7rem !important; 
}

.year_count {
  color: lighten($color: #000000, $amount: 30);
  margin-left: .2rem;
  font-size: .8rem;
}

.month_header {
  font-style: italic;
  font-weight: 200;
  font-size: 1.9rem;

  margin: 1rem 0 1.5rem 1rem;
}
.month_tweet_number {
  font-size: 1.1rem;
  font-weight: lighter;
}