.icon {
  font-size: inherit !important;
  margin-right: .7rem !important;
  margin-bottom: 1px;
}

.icon_lens {
  color: rgb(244, 0, 85) !important;
  margin-left: .4rem;
  margin-bottom: 1px;
}

.header_container {
  display: flex;
  align-items: center;
}

.starter_details {
  margin-top: .7rem !important;
  margin-bottom: 1.2rem !important;
}

.content {
  margin-top: -1.4rem;
}

// .stepper {
//   margin-bottom: 1rem;
// }

.count {
  margin: auto auto 1rem .5rem !important;
}

.select_all_holder {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttons_month {
  margin-top: -.7rem;
  margin-bottom: .5rem;
}

.actions {
  display: grid !important;
  grid-template-columns: min-content min-content auto;
  justify-content: unset !important;
}

.to_end {
  justify-self: end !important;
}
