@import "../../../tools/functions.scss";

.details {
  display: block !important;
}

.heading {
  display: flex;
  align-items: center;
  font-size: 1.1rem !important;
}

.icon {
  font-size: inherit !important;
  margin-right: .5rem !important;
  margin-bottom: 1px;
}

.type_icon {
  margin-right: .7rem !important;
  color: #484848;
}

.counts {
  margin-bottom: 1.2rem !important;
  margin-left: .4rem !important;
}

.header_info {
  color: #505050;
  font-size: .9rem !important;
  margin-left: .5rem !important;
}

.icon_green {
  color: #4caf50 !important;
}

.icon_orange {
  color: #ffa726 !important;
}

.icon_purple {
  color: #ba68c8 !important;
}

.task_id {
  font-weight: bold;
  margin-left: .3rem;

  @include threshold_bar {
    display: none;
  }
}
