@import "../../../tools/functions.scss";

.root {
  flex-grow: 1;
}

.card {
  width: 100%;
}

.title {
  margin-bottom: 1rem !important;
}

.subtitle {
  margin-bottom: .8rem !important;
  margin-top: -.5rem !important;
  font-size: 17px !important;
  font-weight: lighter !important;
}

.container {
  min-height: calc(100vh - #{$bottom_bar_height} - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: $bottom_bar_height;

  @include threshold_bar {
    min-height: calc(100vh - #{$bottom_bar_height} - 56px);
  }
}

.dmsinfowrapper {
  color: lighten(#000000, 35);

  :global .dark :local & {
    color: lighten($color: #000000, $amount: 75);
  }
  
  font-size: .9rem !important;
}

.bold, .dmsinfo {
  font-weight: bold;
}

.bio {
  font-size: .95rem;
  color: lighten(#000000, 35);

  :global .dark :local & {
    color: lighten($color: #000000, $amount: 75);
  }
}

.filename {
  font-style: italic;
}

.cannot_delete {
  color: #ef5350 !important;
  font-weight: bold !important;
}

.modal_paper {
  min-width: 50vw !important;
  max-width: inherit !important;
}

.lighten_btn {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.dragdrop {
  height: 200px;
  border: 3px dashed #d6d6d6;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b8b8b8 !important;
  flex-direction: column;
  pointer-events: none;
}

.fu_icon {
  height: 72px !important;
  width: 72px !important;
  display: block !important;
}

.fu_text {
  font-weight: 300;
  font-size: 1.5rem;
  margin: .3rem 0 !important;
}

.list_archive_header {
  display: flex;
  justify-content: space-between;
}

.list_archive_header_buttons {
  &:last-child {
    margin-right: 5px;
  }
}

.blocked {
  pointer-events: none;
  opacity: .5;
}

.smooth_opacity {
  transition: opacity .5s;
}
