.loader_sessions {
  height: 100%;
}

.details {
  flex-direction: column;
}

.dialog {
  min-width: 50vw !important;
  max-width: unset !important;
}

.revoke_btn {
  margin-top: 1.5rem !important;
}
