body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
  transition: background-color .25s;

  &.dark {
    background-color: #2b2b2b;
    color: #fff;
  }
}

.tweet-font {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;

  &.tweet-text {
    font-weight: 500 !important;
  }

  &.tweet-details {
    font-weight: normal !important;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: inherit;
}

.dark {
  a {
    color: #cecdff;
  }

  a:active {
    color: #eeeeff !important;
  }

  a:visited {
    color: #bdbcfd;
  }
}

.dark .nav.primary {
  a {
    color: #fff;
  }

  a.Mui-selected {
    color: #86caff;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.divider-margin {
  margin: .75rem auto !important;
}

.pre-line {
  white-space: pre-line;
}

.pre-wrap {
  white-space: pre-wrap;
}

.break-all {
  word-break: break-all;
}

.break-word {
  overflow-wrap: break-word;
  // Deprecated but needed, overflow-wrap does not work properly
  word-break: break-word;
}

.divider-big-margin {
  margin: 1.2rem auto !important;
}

.bold {
  font-weight: bold !important;
}

.no-bold {
  font-weight: normal !important;
}

.italic {
  font-style: italic;
}

.center-space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.center-absolute {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
