.icon {
  font-size: 7rem !important; 
}

.link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text_lighten {
  color: lighten($color: #000000, $amount: 30);

  :global .dark :local & {
    color: lighten($color: #000000, $amount: 75);
  }
}

.steptitle {
  color: lighten($color: #000000, $amount: 15);
  font-size: 1.1rem !important;
  margin: .5rem 0 !important;

  :global .dark :local & {
    color: lighten($color: #000000, $amount: 85);
  }
}

.step {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  height: 100px;
  display: block;
  border-radius: 12px;
  margin: .2rem auto;
  margin-bottom: .7rem;
}
